/* Remove default spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Page background */
body {
    font-family: Arial, sans-serif;
    background-color: #eeeeee;
    color: #333;
}


/* Main resume */
.resume {
    width: 850px;
    min-height: 1100px;
    margin: 30px auto;
    background-color: white;

    display: flex;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}


/* LEFT COLUMN */
.left {
    width: 35%;
    padding: 35px 25px;
    background-color: #f1f1f1;
}


/* RIGHT COLUMN */
.right {
    width: 65%;
    padding: 35px 30px;
}


/* Name */
.name-section {
    margin-bottom: 40px;
}


.small-title {
    font-size: 14px;
    letter-spacing: 4px;
    margin-bottom: 8px;
}


h1 {
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: bold;
}


/* Section headings */
h2 {
    font-size: 14px;
    letter-spacing: 4px;
    margin-bottom: 15px;

    border-bottom: 1px solid #999;
    padding-bottom: 7px;
}


/* Smaller headings */
h3 {
    font-size: 15px;
    margin-bottom: 8px;
}


/* Sections */
section {
    margin-bottom: 30px;
}


/* Paragraphs */
p {
    font-size: 13px;
    line-height: 1.6;
    margin-bottom: 8px;
}


/* Lists */
ul {
    padding-left: 18px;
}


li {
    font-size: 13px;
    margin-bottom: 8px;
    line-height: 1.4;
}


/* Links */
a {
    color: #333;
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}


/* Project heading */
.right h3 {
    letter-spacing: 1px;
    font-size: 16px;
}


/* Mobile responsive design */
@media screen and (max-width: 700px) {

    .resume {
        width: 95%;
        margin: 10px auto;
        display: block;
    }

    .left,
    .right {
        width: 100%;
    }

    .left {
        padding: 25px;
    }

    .right {
        padding: 25px;
    }

    h1 {
        font-size: 25px;
    }
}
