/* Remove default browser spacing */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Page */

body {
    font-family: Arial, sans-serif;
    background-color: #e8e8e8;
    color: #333;
}


/* Resume container */

.resume {
    width: 850px;
    min-height: 1100px;

    margin: 30px auto;

    background-color: white;

    display: flex;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}


/* LEFT SIDE */

.left-column {
    width: 38%;

    padding: 40px 30px;

    background-color: #f3f3f3;
}


/* RIGHT SIDE */

.right-column {
    width: 62%;

    padding: 40px 35px;

    background-color: white;
}


/* Student text */

.student {
    font-size: 13px;

    letter-spacing: 4px;

    margin-bottom: 8px;
}


/* Name */

h1 {
    font-size: 30px;

    letter-spacing: 3px;

    margin-bottom: 45px;
}


/* Section */

section {
    margin-bottom: 35px;
}


/* Section headings */

h2 {
    font-size: 15px;

    letter-spacing: 4px;

    margin-bottom: 18px;

    padding-bottom: 8px;

    border-bottom: 1px solid #888;
}


/* Smaller headings */

h3 {
    font-size: 15px;

    margin-bottom: 10px;

    line-height: 1.4;
}


/* Paragraph */

p {
    font-size: 13px;

    line-height: 1.6;

    margin-bottom: 10px;
}


/* List */

ul {
    padding-left: 18px;
}


li {
    font-size: 13px;

    margin-bottom: 8px;

    line-height: 1.4;
}


/* Links */

a {
    color: #333;

    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}


/* Make technical skill labels slightly bold */

strong {
    font-weight: bold;
}


/* Mobile */

@media screen and (max-width: 700px) {

    .resume {
        width: 95%;

        display: block;

        margin: 10px auto;
    }

    .left-column {
        width: 100%;
    }

    .right-column {
        width: 100%;
    }

}
